---
import { Icon } from "astro-icon/components";
import avatar from "@/assets/images/avatar.png";
import Avatar from "@/components/Avatar.astro";
import { Button } from "@/components/ui/button";
import { LANGUAGE_ICONS } from "@/i18n/constants";
import type { Profile } from "@/i18n/data/profile";
import type { Lang } from "@/i18n/ui";
import { CVDownloadButton } from "../CVDownloadButton";
import { LanguageToggle } from "../LanguageToggle";
import { ThemeToggle } from "../ui";

interface Props {
  profile: Profile;
  lang: Lang;
}

const { profile, lang } = Astro.props;
---

<section
  class="flex flex-col gap-4 w-full pt-8 md:pt-12"
  role="banner"
  aria-label="Profil principal"
>
  <div class="flex justify-between items-start">
    <Avatar src={avatar} alt={profile.name} />
    <div
      class="flex gap-3 items-center"
      role="toolbar"
      aria-label="Contrôles de navigation"
    >
      <CVDownloadButton lang={lang} client:visible />
      <LanguageToggle currentLang={lang} client:load>
        <Icon name={LANGUAGE_ICONS[lang]} />
      </LanguageToggle>
      <ThemeToggle client:load />
    </div>
  </div>
  <Icon name="me" class="text-3xl" aria-hidden="true" />
  <h1 class="w-fit font-bold text-3xl md:text-4xl">{profile.title}</h1>
  <p class="w-fit md:text-lg text-sm font-normal">{profile.description}</p>
</section>

<section
  class="flex gap-4 justify-center mt-2"
  role="navigation"
  aria-label="Liens sociaux"
>
  {
    profile.socialLinks.map((link) => (
      <a
        href={link.url}
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer"
        aria-label={`Visiter mon profil ${link.icon} sur ${link.url}`}
      >
        <Button size="icon">
          <Icon name={link.icon} class="size-5" aria-hidden="true" />
        </Button>
      </a>
    ))
  }
</section>
