---
import { Icon } from "astro-icon/components";
import SoftSkillCard from "@/components/SoftSkillCard";
import type { Experience } from "@/i18n/data/experiences/types";
import type { SoftSkills } from "@/i18n/data/soft-skills";
import type { Lang } from "@/i18n/ui";

interface Props {
  softSkills: SoftSkills;
  experiences: Experience[];
  lang: Lang;
}

const { softSkills, experiences, lang } = Astro.props;
---

<section class="mt-4 w-full">
  <p class="w-fit font-bold text-sm">{softSkills.title}</p>
  <section class="flex flex-col gap-4 mt-4">
    {
      softSkills.skills.map((skill) => (
        <SoftSkillCard
          skill={skill}
          experiences={experiences}
          lang={lang}
          client:visible
        >
          <Icon
            name={skill.icon}
            class="h-[50px] w-[100px] absolute -top-2 -right-2"
          />
        </SoftSkillCard>
      ))
    }
  </section>
</section>
